body {
  padding-top: 200px;
  height: 1000px;
}

.option-bar {
  position: fixed;
  top: 0;
  background-color: white;
  padding-top: 150px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #445361;
}

.bar-left-section {
  width: 1000px;
}

button {
  height: 50px;
  font-size: 24px;
  font-family: Montserrat, SansSerif;
  background: none;
  border-style: none;
}
.tom-button {
  margin-left: 300px;
}

.right-section {
  margin-left: 0px;
  width: 650px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 200ms;
  padding-right: 300px;
}

button:hover {
  opacity: 60%;
}

button:active {
  opacity: 40%;
}

.center-image {
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  margin-top: 50px;
  height: 500px;
  width: 100%;
  z-index: 1;
}

.headshot {
  position: absolute;
  height: 450px;
  top: 240px;
  left: 720px;
}
.about-text {
  width: 1000px;
  position: absolute;
  left: 420px;
  z-index: 2;
  margin-top: -130px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 65px;
  text-align: center;
}

.typewriter {
  display: inline-block;
}

.typewriter-header {
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation: typing 2s steps(20), cursor 0.4s step-end infinite alternate,
    blink 0.75s step-end infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.header-text {
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 0px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.small-welcome-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 900;
}

.small-welcome-text span:nth-of-type(odd) {
  font-family: Montserrat;
  font-size: 20px;
  color: rgba(0, 33, 165);
  font-weight: 900;
}
.small-welcome-text span:nth-of-type(even) {
  font-family: Montserrat;
  font-size: 20px;
  color: rgba(255, 70, 22);
  font-weight: 900;
}

.UF-pic {
  height: 65px;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
