body {
  padding-top: 200px;
  height: 1000px;
}

.option-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  padding-top: 150px;
  padding-bottom: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 3;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: #445361;
  text-align: center;
}

.bar-left-section {
  width: 50%;
  align-content: center;
}

button {
  height: 50px;
  font-size: 1.4vw;
  font-family: Montserrat, SansSerif;
  background: none;
  border-style: none;
}
.tom-button {
  width: 10vw;
}

.right-section {
  width: 38%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 200ms;
}

button:hover {
  opacity: 60%;
}

button:active {
  opacity: 40%;
}

.content-wrapper {
  position: relative;
  width: 100%;
}
.center-image {
  object-fit: cover;
  overflow: hidden;
  object-position: center;
  margin-top: 50px;
  height: 500px;
  width: 100%;
  z-index: 1;
}

.headshot {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.about-text {
  width: 50%;
  position: absolute;
  left: 25%;
  z-index: 2;
  margin-top: -5%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 65px;
  text-align: center;
}

.typewriter {
  display: inline-block;
}

.typewriter-header {
  margin-top: 15px;
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 0px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation: typing 2s steps(20), cursor 0.4s step-end infinite alternate,
    blink 0.75s step-end infinite;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.header-text {
  margin-top: 15px;
  font-family: Montserrat;
  /* font-size: 60px; */
  font-size: 3vw;
  font-weight: 500;
  margin-bottom: 0px;

  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.small-welcome-text {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 900;
}

.small-welcome-text span:nth-of-type(odd) {
  color: rgba(0, 33, 165);
}
.small-welcome-text span:nth-of-type(even) {
  color: rgba(255, 70, 22);
}

.UF-pic {
  width: 7%;
  position: fixed;
  bottom: 20px;
  left: 20px;
}

@media (max-width: 800px) {
  .typewriter-header {
    font-size: 25px;
  }
  .header-text {
    font-size: 25px;
  }
}
