body {
  height: 1600px;
}
.projects-div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  justify-content: center;
  /* margin-left: 150px; */
}

.project {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: middle;
}

.project-title {
  font-size: 3em;
  width: 20%;
  padding-right: 5%;
  border-right: solid;
  border-width: 5px;
  line-height: 30vw;
  font-family: "Crimson Text";
  font-weight: 600;
  text-align: right;
}

.project-content {
  font-size: 1.5em;
  font-family: "Crimson Text";
  width: 30%;
  margin-left: 10%;
  margin-right: 10%;
}

.project-video {
  display: flex;
  width: 30%;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  border: 2px solid black;
}

.graphic-header {
  font-size: 1em;
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.seperator {
  display: flex;
  justify-content: center;
}

.dot {
  height: 15px;
  width: 15px;
  border: 3px solid black;
  border-radius: 20px;
  margin-left: 5%;
}
